[user]
	name = rudeigerc
	email = rudeigerc@gmail.com
	signingkey = /Users/rudeigerc/.ssh/id_ed25519.pub
[core]
	editor = nvim
	pager = less -R
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	unstage = reset HEAD --
	last = log -1 HEAD
[pull]
	rebase = true

# marlonrichert/zcolors
[color "status"]
	branch = 6 normal bold
	added = 1 normal
	updated = 1 normal
	localbranch = 6 normal bold
	changed = 0 6
	header = normal
	remotebranch = 5 normal
	nobranch = 1 normal
	unmerged = 0 1
	untracked = normal dim
[color "branch"]
	plain = normal
	remote = 5 normal
	current = 0 3
	local = 6 normal bold
	upstream = 5 normal
[color "remote"]
	hint = normal dim
	success = 1 normal
	error = 0 1
	warning = 0 6
[color "interactive"]
	header = normal dim bold
	prompt = 0 3
	help = normal dim
	error = 0 1
[color "diff"]
	commit = 3 normal
	newMoved = 15 4
	oldMovedAlternativeDimmed = 7 5 dim
	frag = normal dim
	oldMovedAlternative = 7 5
	contextBold = normal bold
	newBold = 15 2 bold
	context = normal
	oldMoved = 7 4
	oldBold = 7 1 bold
	newMovedDimmed = 15 4 dim
	func = normal dim
	meta = normal dim
	newDimmed = 15 2 dim
	newMovedAlternative = 15 5
	new = 15 2
	newMovedAlternativeDimmed = 15 5 dim
	whitespace = normal 9
	oldMovedDimmed = 7 4 dim
	oldDimmed = 7 1 dim
	old = 7 1
	contextDimmed = normal dim
[color "decorate"]
	branch = 6 normal bold
	tag = 2 normal
	remotebranch = 5 normal
	stash = normal dim
	grafted = 1 normal
	HEAD = 0 3
[diff]
	colorMoved = zebra
